$orange: #EFA14B;
$dark-orange: #BF6E27;

$background-color-primary: #3F3939;
$background-color-primary-light: #685E5E;

$background-color-light: #F6F6F6;

$text-color-light: #FFFFFF;
$text-color-dark: $orange;

$black: #231E1E;
$dark-red: #9D3732;
$red: #ED666B;
$white: #FAF9F9;

$green: #6EA915;

